One Step Further
=========

Preamble
---------

In [56]:
import pandas as pd
import numpy as np
from sklearn.tree import *

Read the data:

In [3]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

Now, let's repair our data by filling NaN's.

In [42]:
# Fill NaN ages with the median of the ages.
train_data.loc[train_data['Age'].isnull(), 'Age'] = train_data['Age'].median()

# Fill missing embarkations with 'S'.
train_data['Embarked'] = train_data['Embarked'].fillna('S')

Now, digitize 'male' and 'female' values.

In [43]:
train_data.loc[train_data['Sex'] == 'female', 'Sex'] = 1
train_data.loc[train_data['Sex'] == 'male', 'Sex'] = 0

And digitize embarkations too...

In [44]:
train_data.loc[train_data['Embarked'] == 'S', 'Embarked'] = 0
train_data.loc[train_data['Embarked'] == 'C', 'Embarked'] = 1
train_data.loc[train_data['Embarked'] == 'Q', 'Embarked'] = 2

Now let's print Sex and Embarked columns.

In [46]:
print(train_data.loc[:, ('Sex', 'Embarked')])

    Sex Embarked
0     0        0
1     1        1
2     1        0
3     1        0
4     0        0
5     0        2
6     0        0
7     0        0
8     1        0
9     1        1
10    1        0
11    1        0
12    0        0
13    0        0
14    1        0
15    1        0
16    0        2
17    0        0
18    1        0
19    1        1
20    0        0
21    0        0
22    1        2
23    0        0
24    1        0
25    1        0
26    0        1
27    0        0
28    1        2
29    0        0
..   ..      ...
861   0        0
862   1        0
863   1        0
864   0        0
865   1        0
866   1        1
867   0        0
868   0        0
869   0        0
870   0        0
871   1        0
872   0        0
873   0        0
874   1        1
875   1        1
876   0        0
877   0        0
878   0        0
879   1        1
880   1        0
881   0        0
882   1        0
883   0        0
884   0        0
885   1        2
886   0        0
887   1        0
888   1        0
889   0        1
890   0        2

[891 rows x 2 columns]

Well, good to go.

In [61]:
target = train_data['Survived'].values
features = train_data[['Pclass', 'Sex', 'Age', 'Fare']].values
decision_tree = DecisionTreeClassifier()
decision_tree = decision_tree.fit(features, target)

print(decision_tree.feature_importances_)
print(decision_tree.score(features, target))

[ 0.11980215  0.31274009  0.23601885  0.3314389 ]
0.977553310887